$main_color: rgb(0, 132, 255);
$bg_color: #724a00;
$btn_bg_color: rgb(0, 70, 128);
$btn_bg_color: rgb(0, 128, 68);
$border_color: #fff;
$card_bg_color: #fff;
$card_font_color: #333;

.white {
  color: #fff;
}
