$main_color: rgb(0, 132, 255);
$bg_color: #724a00;
$btn_bg_color: rgb(0, 70, 128);
$btn_bg_color: rgb(0, 128, 68);
$border_color: #67ff01;
$card_bg_color: #0e9d39;

.white {
  color: #fff;
}
